nav a.active {
  color: #ff0000;
  font-weight: bold;
  font-size: xx-large;
}

.back {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #fff;
  color: #000;
  padding: 10px;
  z-index: 1000;
  text-decoration: none;
}

.back:focus {
  top: auto ;
  outline: 2px solid #ff0000;
}



.gallery img {
  width: 100%;
}

.bord {
  padding: 10px;
  border: 6px dashed #354ef0;
}

body{
  margin:5px;
  padding:5px;
  line-height:1.15;
}

h1,h2, h3, h4, h5, h6{
  font-weight: bold;
  margin:15px 0px; 
}

h1{
  font-size: x-large;
}

ul li{
  margin-left: 25px;
  list-style-type: upper-roman;
}

nav li{
  background-color: aqua;
  border: 2px solid black;
  border-radius: 25px;
  display: inline-block;
  padding: 10px;
  width:18%;
  margin: 15px 15px 0px 0px;
  text-align: center;
}

main img{
  width:24%;
  box-sizing: border-box;
  padding:15px;
  border:3px dashed green;
  margin:0;
}

main video{
  width:24%;
  box-sizing: border-box;
  padding:15px;
  border:3px dashed green;
  margin:0;
}

header img{
  width: 100%;
  height:300px;
  object-fit: cover;
}

b{
  font-weight: bold;
}

.links>ul>li {
display: block;
}

.gallery {
display: flex;
flex-wrap: wrap;
}


.center, .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click-me {
  display: block;
  width: auto;
  height: auto;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #fffdfdcc, 3px 3px 5px rgba(94, 104, 121, 0.342);
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  cursor: pointer;
}

#showLoginForm {
  display: none;
}

.click-me:hover {
  color: #0a5878;
}

.content {
  visibility: hidden;
  width: 330px;
  height: auto;
  background: #dde1e7;
  padding: 30px 35px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}

#temp {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 25px;
  background: #dde1e7;
  padding: 3px 11px;
  border-radius: 50%;
  cursor: pointer;
}

#showLoginForm:checked ~ .content {
  opacity: 1;
  visibility: visible;
}

.text {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

form {
  margin-top: 40px;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 43px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  border: none;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #4b4e4d;
  padding-left: 10px;
}

button {
  width: 100%;
  margin-top: 35px;
  padding: 12px;
  background: #dde1e7;
  border: none;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 32px;
}

@media (min-width: 768px)  {
    nav {
        display: flex;
        justify-content: space-around;
    }
    .links>ul>li {
      display: inline;
    }
    main img{
        width: 30%;
    }
    main video{
        width: 30%;
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
  }
  .back:focus {
    top: auto;
    left: auto;
    outline: 2px solid #ff0000;
  }

}